# clear the screen before the most common commands
alias l='clear && ll'
alias gs='clear && git st'
alias gl='clear && git ls'

# grep'n
alias grep='grep -n'
alias rgrep='grep -r'
alias psgrep='ps aux | \grep'

# misc
alias top='top -o cpu'
alias ducks='du -cksh * | sort -rn|head -11' # Lists folders and files sizes in the current folder
alias tree='tree -C --dirsfirst'
alias listen='lsof -i | \grep LISTEN' # Lists processes that are listening on a port
