# vim: ft=sh

# Shorthand for determining whether a command exists on the system
function exists {
  command -v "$1" > /dev/null
}

# Exit with error and print a message if a command does not exist (for use within scripts)
function assert_exists {
  if ! exists $1 > /dev/null; then
    if [ "$#" -gt 1 ]; then
      echo -e  $2
    else
      echo -e "${RED}Could not find command '$1' in path.${RESET}"
    fi
    # exit 1
  fi
}

# Print local network and external IP addresses
function ip {
  echo "Local:    $(ipconfig getifaddr en0)"
  echo "External: $(curl -s http://checkip.dyndns.com/ | sed 's/[^0-9\.]//g')"
}

# Print the number of files/dirs in the given directory
function lc {
  local dir=$1
  : ${dir:="."}
  local list="ls -l \"$dir\" | grep -v '^total'"
  local count="wc -l | awk '{ print \$1 }'"

  echo "Files: $(eval "$list | grep -v '^d' | $count")"
  echo "Dirs:  $(eval "$list | grep '^d' | $count")"
  echo "Total: $(eval "$list | $count")"
}

# Resolve redirects and print the last non-30x URL
function url {
  curl $1 --silent --location --head --output /dev/null --write-out 'Final URL: %{url_effective}'
}
