[core]
  # global gitignore
  excludesfile = ~/.cvsignore
[user]
  # information about you that will appear in commit history
  name = Steven Lindberg
  email = stevenjohnlindberg@gmail.com
[color]
  # yay, color for everything
  diff = auto
  status = auto
  branch = auto
[apply]
  # ignore trailing whitespace
  whitespace = nowarn
[branch]
  # setup newly created tracking branches to rebase (on pull) by default
  autosetupmerge = true
  autosetuprebase = remote
[rebase]
  # use new 1.7.4 autosquash goodness (commit messages beginning with 'fixup!' or 'squash!)
  autosquash = true
[push]
  # pushes current (tracking) branch to it's upstream branch without having to specify
  # NOTE: this setting should ideally be 'simple', but it's not compatible with versions prior to v1.7.11
  default = current
[alias]
  # cloning
  cl = clone
  # checkout
  co = checkout
  cob = checkout -b
  # diffing
  d = diff
  dc = diff --cached
  # adding
  a = add
  aa = add --all
  au = add --update
  ai = add --interactive
  ap = add --patch
  # committing
  ci = commit
  cim = commit -m
  cima = commit --all -m
  cia = commit --amend
  cir = commit --amend --reuse-message HEAD
  cira = commit --amend --all --reuse-message HEAD
  cif = commit --fixup
  cifa = commit --all --fixup
  # branching
  b = branch
  ba = branch --all
  bc = branch --contains
  bd = branch --delete
  bdd = branch -D
  bm = branch --move
  # merging
  m = merge
  mnf = merge --no-ff
  # rebasing
  r = rebase
  ri = rebase --interactive --autostash
  rc = rebase --continue
  ra = rebase --abort
  # cherry-picking
  cp = cherry-pick
  cpc = cherry-pick --continue
  cpa = cherry-pick --abort
  # remotes
  rp = remote prune origin
  rs = remote show origin
  # submodules
  sma = submodule add
  smi = submodule init
  smu = submodule update --recursive
  # stashing
  sl = stash list
  sp = stash pop
  sa = stash apply
  ss = stash save --include-untracked
  sd = stash drop
  ssh = show stash@{0}
  # resetting
  re = reset
  rep = reset HEAD^
  reh = reset --hard
  # ignoring
  i = update-index --assume-unchanged
  ni = update-index --no-assume-unchanged
  # fetching/pulling/pushing
  f = fetch
  p = pull
  # viewing
  st = status
  sh = show
  l = log --pretty=format:'%C(yellow)%h %Cred%an %Cgreen%ar%n        %Creset%s%n'
  ls = log -n 12 --pretty=format:'%C(yellow)%h %Cred%an %Cgreen%ar%n        %Creset%s%n'
  wc = whatchanged -n 1
