# ignore all files that don't start with a dot by default
*
!.*

# history files
.bash_history
.viminfo
.lesshst
.mysql_history
.irb-history
.rdebug_hist

# vim files, they are maintained separately
.vim
.vimrc
.gvimrc

# OS X files
.CFUserTextEncoding
.DS_Store
.Trash

# misc
.paths
.pearrc
