# ignore all files that don't start with a dot by default
*
!.*

# environment files
.*env

# history files
.*history
.*hist
.*hst

# vim files
.vim
.vimrc
.gvimrc
.viminfo

# OS X files
.CFUserTextEncoding
.DS_Store
.Trash

# misc
.z
.zcompdump
.pearrc
.NERDTreeBookmarks
