# ignore all files that don't start with a dot by default
*
!.*

# ignore history files
.bash_history
.viminfo

# ignore vim files, they are maintained separately
.vim
.vimrc
.gvimrc

# ignore OS X files
.CFUserTextEncoding
.DS_Store
.Trash
