[core]
  # global gitignore
  excludesfile = ~/.cvsignore
[user]
  # information about you that will appear in commit history
  name = Steven Lindberg
  email = stevenjohnlindberg@gmail.com
[color]
  # yay, color for everything
  diff = auto
  status = auto
  branch = auto
[apply]
  # ignore trailing whitespace
  whitespace = nowarn
[branch]
  # setup newly created tracking branches to rebase (on pull) by default
  autosetupmerge = true
  autosetuprebase = remote
[rebase]
  # use new 1.7.4 autosquash goodness (commit messages beginning with 'fixup!' or 'squash!)
  autosquash = true
[push]
  # pushes current (tracking) branch to it's upstream branch without having to specify
  default = upstream
[alias]
  # checkout
  co = checkout
  cob = checkout -b
  # diffing
  d = diff
  dc = diff --cached
  # adding
  a = add
  aa = add .
  au = add -u
  ai = add --interactive
  ap = add --patch
  # commiting
  ci = commit
  cia = commit --amend
  ciaa = commit --amend -a
  cif = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
  cim = commit -m
  cima = commit -a -m
  # branching
  b = branch
  ba = branch -a
  bc = branch --contains
  bd = branch -d
  bdd = branch -D
  bm = branch -m
  # merging
  m = merge
  ms = merge --squash
  mf = merge --no-ff
  # rebasing
  r = rebase
  ri = rebase --interactive
  rc = rebase --continue
  ra = rebase --abort
  # cherry-picking
  cp = cherry-pick
  cpc = cherry-pick --continue
  cpa = cherry-pick --abort
  # remotes
  rp = remote prune origin
  rs = remote show origin
  # submodules
  smi = submodule init
  smu = submodule update --recursive
  # stashing
  sl = stash list
  sp = stash pop
  ss = stash save
  # resetting
  re = reset
  reh = reset --hard
  # fetching/pulling/pushing
  f = fetch
  p = pull
  # viewing
  st = status
  sh = show
  l = log --pretty=format:'%C(yellow)%h %Cred%an %Cgreen%ar%n        %Creset%s%n'
  ls = log -n 12 --pretty=format:'%C(yellow)%h %Cred%an %Cgreen%ar%n        %Creset%s%n'
  wc = whatchanged -n 1
